{% extends '__base__.html' %}

{% block title %}首页{% endblock %}

{% block beforehead %}
<style type="text/css" xmlns:backgroudimg="http://www.w3.org/1999/xhtml">
 img.lazy{
      cursor: pointer;
      transition: all 0.6s;
 }
 img.lazy:hover{
       transform: scale(1.4);
 }
 .banner2:hover{
       background-size: 110% 110%;
 }
 .banner{
        background-size:100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        width: 462.66px;
        height:200px;
        display:block;
 }
 .banner2{
        background-size:100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        width:215px;
        height:100px;
        display:block;
        overflow: hidden;
        transition: all 0.6s;
 }
 .banner a{

    display:block;

    width: 462.66px;

    height:200px;

    cursor:hand;

}
 .banner2 a{

    display:block;

    width:215px;

    height:100px;

    cursor:hand;

}
#myCarousel {
    float:left;
    width: 462.66px;
}
.lidiv11 {
    width:100px;
    height:50px;
    float:left;
    background-size:80% 80%;
    background-position: center;
    background-repeat: no-repeat;
    display:block;
}
.lidiv21 {
    width:200px;
    float:left;
}
.lidiv21a {
    color:black;
    font-size:100%;
    font-weight:bold;
    opacity:0.7;
}
.leftnavli {
    color:black;
    font-size:90%;
    opacity:0.7;
}
.maintitle {
    color:black;
    font-size:70%;
    font-weight:bold;
    opacity:0.7;
}
.mainsummary {
   overflow: hidden;
   text-overflow:ellipsis;
   white-space: nowrap;
   opacity:0.7;
}
.mainuserimg {
   width:25px;
   height:25px;
   border-radius:50%;
   overflow:hidden;
}
.mainattach li{
    display: inline;
    white-space:nowrap;
}
</style>
<script>
var times = 0;
$(window).scroll(
    function() {
        var scrollTop = $(this).scrollTop();
        var scrollHeight = $(document).height();
        var windowHeight = $(this).height();
        if (scrollTop + windowHeight == scrollHeight) {
        times = times + 1;
        LoadNewData(times);
        }
     });

function LoadNewData(time){
      $.ajax({
        type: "GET",
        url: "/api/indexnews?numoftime="+time,
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        success: function (data) {
          news = data.news;
          if (news.length > 0)
          {
          for(var i = 0; i < news.length; i++){
            var addBody = "<li id='" + news[i].id + "li" + "'>"
                +    "<div>"
                +        "<button type='button' class='close' data-toggle='modal' data-target='" + news[i].close_target_id_ref + "'aria-hidden='true'>&times;</button>"
                +        "<h3><a href='" + news[i].url + "'target='_blank' class='maintitle' style='text-decoration:none;'>" + news[i].title + "</a></h3>"
                +        "<div class='modal fade' id='" + news[i].close_target_id + "'tabindex='-1' role='dialog'  aria-hidden='true' data-backdrop='static'>"
                +            "<div class='modal-dialog'>"
                +                "<div class='modal-content'>"
                +                    "<div class='modal-header'>"
                +                        "<button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>"
                +                        "<h4 class='modal-title'>选择理由，精准屏蔽</h4>"
                +                    "</div>"
                 +                   "<div class='modal-body'>"
                +                        "<label class='checkbox-inline'>"
                +                            "<input type='checkbox' value='option1'> 推荐不准"
                +                        "</label>"
                +                        "<label class='checkbox-inline'>"
                +                            "<input type='checkbox' value='option2'> 旧闻、重复"
                +                        "</label>"
                +                        "<label class='checkbox-inline'>"
                +                            "<input type='checkbox' value='option3'> 内容质量差"
                +                        "</label>"
                +                    "</div>"
                +                    "<div class='modal-footer'>"
                +                        "<button type='button' class='btn btn-default' data-dismiss='modal'>关闭</button>"
                +                        "<button id ='" + news[i].id + "'type='button' class='btn btn-primary deletebadnew'>确定</button>"
                +                    "</div>"
                +                "</div>"
                +            "</div>"
                +        "</div>"
                +    "</div>"
                +    "<div class='mainsummary'>"
                +        news[i].news_summary
                +    "</div>"
                +    "<div style='padding:10px 0;margin:0;'>"
                +        "<ul class='mainattach' style='margin:0; padding:0'>"
                +            "<li style='margin-left:0;padding: 0;'><a href='" + news[i].user_url + "'target='_blank'><img src='" + news[i].user_img_url + "'class='mainuserimg'></a></li>"
                +            "<li style='padding: 20px 5px;'><a href='" + news[i].user_url + "'target='_blank' style='color:black;opacity:0.7;text-decoration:none;'>" + news[i].user_name + "</a></li>"
                +            "<li style='padding: 20px 15px;opacity:0.7;'>" + news[i].news_date + "</li>"
                +            "{% if " + news[i].label_url +  "%}"
                +            "<li style='padding: 20px 15px;'><a href='" + news[i].label_url + "'target='_blank' style='color:MediumBlue;opacity:0.7;text-decoration:none;'>" + news[i].news_label + "</a></li>"
                +            "{% endif %}"
                +            "<li style='padding: 0;float:right'>"
                +                "<a href='" + news[i].comment_url + "'target='_blank' style='text-decoration:none;'>"
                +                    "<span style='color:MediumBlue'>" + news[i].news_comments + "</span>"
                +                    "<span style='color:black;opacity:0.7;'>评论</span>"
                +                "</a>"
                +            "</li>"
                +            "<li style='padding: 0;float:right'>"
                +                "&nbsp;&nbsp;&nbsp;&nbsp;"
                +            "</li>"
                +            "<li style='padding: 0;float:right'>"
                +                "<a href='" + news[i].url + "'target='_blank' style='text-decoration:none;'>"
                +                    "<span style='color:MediumBlue'>" + news[i].news_reads + "</span>"
                +                    "<span style='color:black;opacity:0.7;'>阅读</span>"
                +                "</a>"
                +            "</li>"
                +        "</ul>"
                +    "</div>"
                + "</li>";
            $("#middlenews").append(addBody);
          }
          AddEvent();
          }
          else
          {
             var addElseBody = "<li style='text-align:center;color:red;'>没有更多新闻了，我们是有底线的！</li>";
             $("#middlenews").append(addElseBody);
          }
        }
      });
 }

window.onload = function()
{
     var buLi = document.getElementsByClassName("deletebad");
     for(var i = 0; i < buLi.length; i++)
     {
	  buLi[i].onclick = function()
	  {
	       var liid = this.id + 'li';
	       var modalid = 'myModal_' + this.id;
           postJSON('/api/indexnews/' + this.id + '/updatehate', function (err, r) {
           if (err) {
                return alert(err.message || err.error || err);
           }
           $("#" + modalid + "").modal("hide");
           $("#" + liid + "").hide();
           });
	  }
      }
}

function AddEvent(){
     var newbuLi = document.getElementsByClassName("deletebadnew");
     for(var i = 0; i < newbuLi.length; i++)
     {
	  newbuLi[i].onclick = function()
	  {
	  	   var liid = this.id + 'li';
	  	   var modalid = 'myModal_' + this.id;
           postJSON('/api/indexnews/' + this.id + '/updatehate', function (err, r) {
           if (err) {
                return alert(err.message || err.error || err);
           }
           $("#" + modalid + "").modal("hide");
           $("#" + liid + "").hide();
           });
	  }
      }
}
</script>

{% endblock %}

{% block content %}

   <div class="uk-width-medium-1-10">
       <ul class="nav nav-pills nav-stacked">
           <li class="active"><a href="#" class="leftnavli">推荐</a></li>
           <li><a href="#" class="leftnavli">最新文章</a></li>
           <li><a href="#" class="leftnavli">关注</a></li>
           <li><a href="#" class="leftnavli">资讯</a></li>
           <li><a href="#" class="leftnavli">编程语言</a></li>
           <li><a href="#" class="leftnavli">娱乐</a></li>
           <li><a href="#" class="leftnavli">视频</a></li>
           <li><a href="#" class="leftnavli">游戏</a></li>
       </ul>
   </div>
   <div class="uk-width-medium-6-10">
        <div class="row">
            <div class="col-md-8">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                        <li data-target="#myCarousel" data-slide-to="4"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div style="background-image:url({{Carousel1.img_url}});"  class="item active banner">
                            <a target="_blank" href="{{Carousel1.url}}"></a>
                            <div class="carousel-caption">{{Carousel1.title}}</div>
                        </div>
                        {% for Carousel in Carousels %}
                        <div style="background-image:url({{Carousel.img_url}});" class="item banner">
                            <a target="_blank" href="{{Carousel.url}}"></a>
                            <div class="carousel-caption">{{Carousel.title}}</div>
                        </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control left" href="#myCarousel"
                        data-slide="prev"><span _ngcontent-c3="" aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span></a>
                    <a class="carousel-control right" href="#myCarousel"
                        data-slide="next"><span _ngcontent-c3="" aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    {% for CarouselRight in CarouselRights %}
                    <div class="col-md-12">
                        <a href="{{CarouselRight.url}}" style="text-decoration : none" target="_blank" >
                            <div style="background-image:url({{CarouselRight.img_url}});" class="banner2">
                               <p style="color:white;font-size:80%;padding-top:80px;text-overflow:ellipsis;overflow:hidden;width:220px;white-space:nowrap;">{{CarouselRight.title}}</p>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div>
            <ul class="uk-list" id="middlenews">
                {% for New in News %}
                <li id ="{{New.id}}li">
                    <div>
                        <button type="button" class="close" data-toggle="modal" data-target="{{New.close_target_id_ref}}" aria-hidden="true">&times;</button>
                        <h3><a href="{{New.url}}" target="_blank" class="maintitle" style="text-decoration:none;">{{New.title}}</a></h3>
                        <div class="modal fade" id="{{New.close_target_id}}" tabindex="-1" role="dialog"  aria-hidden="true" data-backdrop="static">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">选择理由，精准屏蔽</h4>
                                    </div>
                                    <div class="modal-body">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="option1"> 推荐不准
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="option2"> 旧闻、重复
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="option3"> 内容质量差
                                        </label>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                        <button id ="{{New.id}}" type="button" class="btn btn-primary deletebad">确定</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mainsummary">
                        {{New.news_summary}}
                    </div>
                    <div style="padding:10px 0;margin:0;">
                        <ul class="mainattach" style="margin:0; padding:0">
                            <li style="margin-left:0;padding: 0;"><a href="{{New.user_url}}" target="_blank"><img src="{{New.user_img_url}}" class="mainuserimg"></a></li>
                            <li style="padding: 20px 5px;"><a href="{{New.user_url}}" target="_blank" style="color:black;opacity:0.7;text-decoration:none;">{{New.user_name}}</a></li>
                            <li style="padding: 20px 15px;opacity:0.7;">{{New.news_date}}</li>
                            {% if New.label_url %}
                            <li style="padding: 20px 15px;"><a href="{{New.label_url}}" target="_blank" style="color:MediumBlue;opacity:0.7;text-decoration:none;">{{New.news_label}}</a></li>
                            {% endif %}
                            <li style="padding: 0;float:right">
                                <a href="{{New.comment_url}}" target="_blank" style="text-decoration:none;">
                                    <span style="color:MediumBlue">{{New.news_comments}}</span>
                                    <span style="color:black;opacity:0.7;">评论</span>
                                </a>
                            </li>
                            <li style="padding: 0;float:right">
                                &nbsp;&nbsp;&nbsp;&nbsp;
                            </li>
                            <li style="padding: 0;float:right">
                                <a href="{{New.url}}" target="_blank" style="text-decoration:none;">
                                    <span style="color:MediumBlue">{{New.news_reads}}</span>
                                    <span style="color:black;opacity:0.7;">阅读</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="uk-width-medium-3-10">
        <div class="uk-panel uk-panel-header">
            <h6 class="uk-panel-title">今日推荐</h6>
            <ul class="uk-list">
                {% for Right in Rights %}
                <li>
                    <a href="{{Right.url}}">
                        <div class="lidiv11" style="background-image:url({{Right.img_url}});">
                    </div>
                    </a>
                    <div class="lidiv21">
                        <a class="lidiv21a" href="{{Right.url}}" style="text-decoration:none;">{{Right.title}}</a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}