{% extends '__base__.html' %}

{% block title %}首页{% endblock %}

{% block beforehead %}
<style type="text/css" xmlns:backgroudimg="http://www.w3.org/1999/xhtml">
    .outer {
    width: 200px;
    height:114px;
    border: solid  ;
    border-style: ridge;
    position: relative;
}
.inner {
    width: 164px;
    height:100px;
    position: absolute;
    margin:auto;
    left:0px;
    right: 0px;
    top:0px;
    bottom: 0px;
}
.matchbottom {
    width: 144px;
    height:20px;
    position: absolute;
    margin:auto;
    left:0px;
    right: 0px;
    top:0px;
    bottom: 0px;
}
.matchtext {
   color:black;
   opacity:0.7;
   font-size:85%;
}

 .banner{
        background-size:100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        width: 547.5px;
        height:330px;
        display:block;
 }

  .banner a{

    display:block;

    width: 547.5px;

    height:330px;

    cursor:hand;

}
#myCarousel {
    width: 547.5px;
    height:330px;
}
.midtab {
   opacity:0.7;
   color:black;
}
.nav-tabs > li > a:hover {

}
.nav-tabs > li > a > span:hover {

}
.midtabclass{
    background-color: red;
    color:#fff;
    font-weight:bold;
}
.hotmatchnewstitle {
     color:red;
     font-weight: bold;
     font-size:75%;
}
.hotmattitlesum a {
     text-decoration:none;
}
.hotmatchnewsline {
     color:black;
     font-size:100%;
     text-decoration:none;
}
.hotmattitlesum a:hover {
     color: red;
}
.hotmatchnewsli a {
     text-decoration:none;
}
.hotmatchnewsli a:hover {
     color: red;
}
.nbanewslabela {
     color:black;
}
.nbanewsspan {
  margin-left:10px;
}
</style>
<script>
window.onload = function()
{
  $("#hota").css('background-color','red');
  $("#hota").css('color','#fff');
  $("#hota").css('font-weight','bold');
}

$(document).ready(function(){
  $(".midtab").hover(function(){
    $(this).css("color","#fff");
    $(this).css("background-color","red");
    $(this).css("font-weight","bold");
    },function(){
    var thisliid = this.id;
    thisliid = thisliid.substring(0,thisliid.length-1);
    if ($("#" + thisliid + "").attr('class') != 'active')
    {
       $(this).css("color","black");
       $(this).css("background-color","");
       $(this).css("font-weight","");
    }
  });
});

function switchpage(type)
{
    var page = $("#hotmatchpage").text();
    $.ajax({
        type: "GET",
        url: "/api/hotmatches?page="+page+"&swi_type="+type,
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        success: function (data) {
          lastpage = data.lastpage;
          firstpage = data.firstpage;
          currentpage = data.currentpage;
          if (lastpage == 'TRUE')
          {
             $("#posthotmatch").attr("disabled","disabled");
          }
          else
          {
             $("#posthotmatch").removeAttr("disabled");
          }
          if (firstpage == 'TRUE')
          {
             $("#prehotmatch").attr("disabled","disabled");
          }
          else
          {
             $("#prehotmatch").removeAttr("disabled");
          }
          matches = data.matches;
          if (matches.length > 0)
          {
             var addBody = "";
             for(var i = 0; i < matches.length; i++){
                var addli =  "<li>"
                 +  "<div class='outer'>"
                 +      "<div class='inner'>"
                 +          "<div>"
                 +          "<a href='" + matches[i].match_url + "'target='_blank' style='text-decoration:none;'>"
                 +              "<div>"
                 +                  "<p><span style='color:black;font-weight:bold;'>" + matches[i].title + "</span></p>"
                 +              "</div>"
                 +              "<div>"
                 +                  "<div style='width:140px;height:20px;'>"
                 +                      "<div class='matchtext' style='float:right;margin:0 -15px 0 0' >";
                 if ( matches[i].type == 'pre')
                 {
                    var  change1 = "<span>" + matches[i].matchdate + "</span>";
                 }
                 else
                 {
                     var  change1 = "<span>" + matches[i].score1 + "</span>";
                 }
                 addli = addli + change1;
                 addli = addli +                      "</div>"
                 +                      "<div class='matchtext' style='float:left;padding:1px 0 1px 10px;'>"
                 +                          "<span>" + matches[i].team1 + "</span>"
                 +                      "</div>"
                 +                  "</div>"
                 +                  "<div style='width:140px;height:20px;'>"
                 +                      "<div class='matchtext' style='float:right;margin:0 -15px 0 0'>";
                 if ( matches[i].type == 'pre')
                 {
                    var  change2 = "<span>" + matches[i].matchtime + "</span>";
                 }
                 else
                 {
                     var  change2 = "<span>" + matches[i].score2 + "</span>";
                 }
                 addli = addli + change2;
                 addli = addli +    "</div>"
                 +                      "<div class='matchtext' style='float:left;padding:1px 30px 1px 10px;'>"
                 +                          "<span >" + matches[i].team2 + "</span>"
                 +                      "</div>"
                 +                  "</div>"
                 +              "</div>"
                 +          "</a>"
                 +          "</div>"
                 +          "<div style='width:164px;height:30px;position: relative;'>"
                 +              "<div class='matchbottom'>"
                 +                  "<ul >"
                 +                      "<li  style='float:left;padding:3px 15px 0 0;'><a class='matchtext' style='text-decoration:none;' href='" + matches[i].liveurl + "' target='_blank'>图文</a></li>"
                 +                      "<li  style='float:left;padding:3px 0 0 15px;'><a class='matchtext' style='text-decoration:none;' href='" + matches[i].newsurl + "' target='_blank'>专题</a></li>"
                 +                  "</ul>"
                 +              "</div>"
                 +          "</div>"
                 +      "</div>"
                 +  "</div>"
                 +  "</li>";
                addBody = addBody + addli;
              }
             $("#hotmatchul").html(addBody);
          }
          $("#hotmatchpage").html(currentpage);
        }
      });
}

function shiftnews(type)
{
    if (type != 'hot')
    {
        $.ajax({
            type: "GET",
            url: "/api/nbanews?shift_type="+type,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
               nbanews = data.nbanews;
               if (nbanews.length > 0)
               {
                 var addBody = "";
                 for(var i = 0; i < nbanews.length; i++){
                    var adddiv =  "<div  style='width:560px;height:100px;margin-top:25px'>";
                               if (nbanews[i].imgurl != null && nbanews[i].imgurl != "")
                               {
                                  adddiv = adddiv  +    "<div style='float:left;width:120px;height:100px;'>"
                                         +      "<div style='width:120px;height:100px;'>"
                                         +          "<a href='" + nbanews[i].imgurl + "'target='_blank' style='text-decoration:none;'>"
                                         +              "<img style='width:100%;height:100%;' src='" + nbanews[i].imgsrcurl + "'>"
                                         +          "</a>"
                                         +      "</div>"
                                         +    "</div>";
                               }
                               adddiv = adddiv   +    "<div  style='float:right;width:425px;height:100px;position: relative;'>"
                               +       "<h3 style='position: absolute;left:0px;right:0px;top:0px;bottom:0px;margin:auto;'>"
                               +          "<a href='" + nbanews[i].titleurl + "'target='_blank' style='text-decoration:none;font-size:75%;font-weight:bold;color:black;'>" + nbanews[i].title + "</a>"
                               +       "</h3>"
                               +       "<p></p>"
                               +       "<p  style='width:425px;height:15px;position: absolute;left:0px;right:0px;top:0px;bottom:0px;margin:auto;margin-bottom: 5px;'>"
                               +          "<span style='opacity:0.7;'>"
                               +              nbanews[i].newstime
                               +          "</span>"
                               +          "<span class='nbanewsspan'>";
                               if  (nbanews[i].tag1 != null && nbanews[i].tag1 != "")
                               {
                                   adddiv =  adddiv
                                    +             "<span>"
                                    +                  "<a href='" + nbanews[i].tag1url + "'target='_blank' style='text-decoration:none;' class='nbanewslabela'>" + nbanews[i].tag1 + "</a>"
                                    +             "</span>";
                               }
                               if  (nbanews[i].tag2 != null && nbanews[i].tag2 != "")
                               {
                                   adddiv =  adddiv
                                    +             "<span class='nbanewsspan'>"
                                    +                  "<a href='" + nbanews[i].tag2url + "'target='_blank' style='text-decoration:none;' class='nbanewslabela'>" + nbanews[i].tag2 + "</a>"
                                    +             "</span>";
                               }
                               if  (nbanews[i].tag3 != null && nbanews[i].tag3 != "")
                               {
                                   adddiv =  adddiv
                                    +             "<span class='nbanewsspan'>"
                                    +                  "<a href='" + nbanews[i].tag3url + "'target='_blank' style='text-decoration:none;' class='nbanewslabela'>" + nbanews[i].tag3 + "</a>"
                                    +             "</span>";
                               }
                               if  (nbanews[i].tag4 != null && nbanews[i].tag4 != "")
                               {
                                   adddiv =  adddiv
                                    +             "<span class='nbanewsspan'>"
                                    +                  "<a href='" + nbanews[i].tag4url + "'target='_blank' style='text-decoration:none;' class='nbanewslabela'>" + nbanews[i].tag4 + "</a>"
                                    +             "</span>";
                               }
                               if  (nbanews[i].tag5 != null && nbanews[i].tag5 != "")
                               {
                                   adddiv =  adddiv
                                    +             "<span class='nbanewsspan'>"
                                    +                  "<a href='" + nbanews[i].tag5url + "'target='_blank' style='text-decoration:none;' class='nbanewslabela'>" + nbanews[i].tag5 + "</a>"
                                    +             "</span>";
                               }
                               adddiv =  adddiv
                               +  "</span>"
                               +  "<span style='float:right'>"
                               +     "<a href='" + nbanews[i].comment_url + "'target='_blank' style='text-decoration:none;'>"
                               +        "<span class='glyphicon glyphicon-comment'></span>"
                               +     "</a>"
                               +  "</span>"
                               + "</p>"
                            +  "</div>"
                        +  "</div>";

                addBody = addBody + adddiv;
              }
             $("#mainnews").html(addBody);
             if (type != 'hot')
             {
                $("#hot").removeAttr("class");
                $("#hota").css("color","black");
                $("#hota").css("background-color","");
                $("#hota").css("font-weight","");
             }
             if (type != 'nba')
             {
                $("#nba").removeAttr("class");
                $("#nbaa").css("color","black");
                $("#nbaa").css("background-color","");
                $("#nbaa").css("font-weight","");
             }
             if (type != 'intsoc')
             {
                $("#intsoc").removeAttr("class");
                $("#intsoca").css("color","black");
                $("#intsoca").css("background-color","");
                $("#intsoca").css("font-weight","");
             }
             if (type != 'chisoc')
             {
                $("#chisoc").removeAttr("class");
                $("#chisoca").css("color","black");
                $("#chisoca").css("background-color","");
                $("#chisoca").css("font-weight","");
             }
             if (type != 'cba')
             {
                $("#cba").removeAttr("class");
                $("#cbaa").css("color","black");
                $("#cbaa").css("background-color","");
                $("#cbaa").css("font-weight","");
             }
             if (type != 'sum')
             {
                $("#sum").removeAttr("class");
                $("#suma").css("color","black");
                $("#suma").css("background-color","");
                $("#suma").css("font-weight","");
             }
             $("#" + type + "").attr("class","active");
             $("#" + type + "a" + "").css('background-color','red');
             $("#" + type + "a" + "").css('color','#fff');
             $("#" + type + "a" + "").css('font-weight','bold');
          }
        }
      });
     }
     else
     {
        $.ajax({
            type: "GET",
            url: "/api/hotmatchnews",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
               hotmatchnews = data.hotmatchnews;
               if (hotmatchnews.length > 0)
               {
                 var addBody = "";
                 for(var i = 0; i < hotmatchnews.length; i++){
                    var adddiv =  "<div>"
                                     + "<h3 class='hotmattitlesum'>"
                                     +    "<a target='_blank' href='" + hotmatchnews[i].title1url + "' class='hotmatchnewstitle'>" + hotmatchnews[i].title1 + "</a>"
                                     +    "<a target='_blank' href='" + hotmatchnews[i].title2url + "' class='hotmatchnewstitle'>" + hotmatchnews[i].title2 + "</a>"
                                     +    "<a target='_blank' href='" + hotmatchnews[i].title3url + "' class='hotmatchnewstitle'>" + hotmatchnews[i].title3 + "</a>"
                                     +  "</h3>"
                                     +   "<div style='width:560px;height:100px'>"
                                     +      "<div style='float:left;width:120px;height:100px'>"
                                     +         "<div>"
                                     +            "<a target='_blank' href='" + hotmatchnews[i].imgurl + "'>"
                                     +               "<img src='" + hotmatchnews[i].imgsrcurl + "'>"
                                     +            "</a>"
                                     +         "</div>"
                                     +      "</div>"
                                     +  "<ul style='float:left;width:440px;height:100px' >";
                    if ( (hotmatchnews[i].line1 != null &&  hotmatchnews[i].line1 != "") || (hotmatchnews[i].line2 != null &&  hotmatchnews[i].line2 != "") || (hotmatchnews[i].line3 != null &&  hotmatchnews[i].line3 != "") )
                    {
                        adddiv  = adddiv +
                           "<li class='hotmatchnewsli'>"
                            +   "<a target='_blank' href='" + hotmatchnews[i].line1url + "' class='hotmatchnewsline'>" + hotmatchnews[i].line1 + "</a>"
                            +   "<a target='_blank' href='" + hotmatchnews[i].line2url + "' class='hotmatchnewsline'>" + hotmatchnews[i].line2 + "</a>"
                            +   "<a target='_blank' href='" + hotmatchnews[i].line3url + "' class='hotmatchnewsline'>" + hotmatchnews[i].line3 + "</a>"
                         +   "</li>" ;
                    }
                    if ( (hotmatchnews[i].line4 != null &&  hotmatchnews[i].line4 != "") || (hotmatchnews[i].line5 != null &&  hotmatchnews[i].line5 != "") || (hotmatchnews[i].line6 != null &&  hotmatchnews[i].line6 != "") )
                    {
                          adddiv  = adddiv +
                                    "<li class='hotmatchnewsli' style='margin-top:10px'>"
                                   +   "<a target='_blank' href='" + hotmatchnews[i].line4url + "' class='hotmatchnewsline'>" + hotmatchnews[i].line4 + "</a>"
                                   +   "<a target='_blank' href='" + hotmatchnews[i].line5url + "' class='hotmatchnewsline'>" + hotmatchnews[i].line5 + "</a>"
                                   +   "<a target='_blank' href='" + hotmatchnews[i].line6url + "' class='hotmatchnewsline'>" + hotmatchnews[i].line6 + "</a>"
                                   +   "</li>" ;
                    }
                    if ( (hotmatchnews[i].line7 != null &&  hotmatchnews[i].line7 != "") || (hotmatchnews[i].line8 != null &&  hotmatchnews[i].line8 != "") || (hotmatchnews[i].line9 != null &&  hotmatchnews[i].line9 != "") )
                    {
                          adddiv  = adddiv +
                                    "<li class='hotmatchnewsli' style='margin-top:10px'>"
                                   +   "<a target='_blank' href='" + hotmatchnews[i].line7url + "' class='hotmatchnewsline'>" + hotmatchnews[i].line7 + "</a>"
                                   +   "<a target='_blank' href='" + hotmatchnews[i].line8url + "' class='hotmatchnewsline'>" + hotmatchnews[i].line8 + "</a>"
                                   +   "<a target='_blank' href='" + hotmatchnews[i].line9url + "' class='hotmatchnewsline'>" + hotmatchnews[i].line9 + "</a>"
                                   +   "</li>" ;
                    }
                   adddiv  = adddiv  +     "</ul>"
                              +   "</div>"

                              +  "</div>";

                addBody = addBody + adddiv;
              }
             $("#mainnews").html(addBody);

                $("#nba").removeAttr("class");
                $("#nbaa").css("color","black");
                $("#nbaa").css("background-color","");
                $("#nbaa").css("font-weight","");

                $("#intsoc").removeAttr("class");
                $("#intsoca").css("color","black");
                $("#intsoca").css("background-color","");
                $("#intsoca").css("font-weight","");

                $("#chisoc").removeAttr("class");
                $("#chisoca").css("color","black");
                $("#chisoca").css("background-color","");
                $("#chisoca").css("font-weight","");

                $("#cba").removeAttr("class");
                $("#cbaa").css("color","black");
                $("#cbaa").css("background-color","");
                $("#cbaa").css("font-weight","");

                $("#sum").removeAttr("class");
                $("#suma").css("color","black");
                $("#suma").css("background-color","");
                $("#suma").css("font-weight","");

             $("#hot").attr("class","active");
             $("#hota").css('background-color','red');
             $("#hota").css('color','#fff');
             $("#hota").css('font-weight','bold');
          }
        }
      });
     }
}
</script>


{% endblock %}

{% block content %}

   <div class="uk-width-medium-2-10">
       <div style="width: 200px; height: 50px;margin-bottom:5px;">
           <div style="width:100px;height:35px;display: inline-block;float: left;">
               <button id="prehotmatch" style="width:100%;height:100%;background-color: red;font-size:110%;color:white;border:none;" onclick="switchpage('pre')" disabled="disabled">上一页</button>
           </div>
           <div style="display:none"><span id="hotmatchpage">1</span></div>
           <div style="width:100px;height:35px;display: inline-block;float: left;">
               <button id="posthotmatch" style="width:100%;height:100%;background-color: red;font-size:110%;color:white;border:none;" onclick="switchpage('post')">下一页</button>
           </div>
       </div>
       <div class="uk-panel uk-panel-header" style="margin-top:5px;">
           <ul id="hotmatchul" class="uk-list">
               {% for hotmatch in hotmatches %}
               <li>
                   <div class="outer">
                       <div class="inner">
                           <div>
                           <a href="{{hotmatch.match_url}}" target="_blank" style="text-decoration:none;">
                               <div>
                                   <p><span style="color:black;font-weight:bold;">{{hotmatch.title}}</span></p>
                               </div>
                               <div>
                                   <div style="width:140px;height:20px;">
                                       <div class="matchtext" style="float:right;margin:0 -15px 0 0;" >
                                           <span>{% if hotmatch.type == 'pre' %}{{hotmatch.matchdate}}{% else %}{{hotmatch.score1}}{% endif %}</span>
                                       </div>
                                       <div class="matchtext" style="float:left;padding:1px 0 1px 10px;">
                                           <span>{{hotmatch.team1}}</span>
                                       </div>

                                   </div>
                                   <div style="width:140px;height:20px;">
                                       <div class="matchtext" style="float:right;margin:0 -15px 0 0;">
                                           <span >{% if hotmatch.type == 'pre' %}{{hotmatch.matchtime}}{% else %}{{hotmatch.score2}}{% endif %}</span>
                                       </div>
                                       <div class="matchtext" style="float:left;padding:1px 30px 1px 10px;">
                                           <span >{{hotmatch.team2}}</span>
                                       </div>
                                   </div>
                               </div>
                           </a>
                           </div>
                           <div style="width:164px;height:30px;position: relative;">
                               <div class="matchbottom">
                                   <ul >
                                       <li  style="float:left;padding:3px 15px 0 0;"><a class="matchtext" style="text-decoration:none;" href="{{hotmatch.liveurl}}" target="_blank">图文</a></li>
                                       <li  style="float:left;padding:3px 0 0 15px;"><a class="matchtext" style="text-decoration:none;" href="{{hotmatch.newsurl}}" target="_blank">专题</a></li>
                                   </ul>
                               </div>
                           </div>
                       </div>
                   </div>
               </li>
               {% endfor %}
           </ul>
       </div>
       <div style="width: 200px; height: 40px;margin-top:5px;">
           <a style="text-decoration:none" href="//match.sports.sina.com.cn/index.html" target="_blank">
               <button style="background-color:DodgerBlue;width: 200px; height: 40px;color:white">查看更多比赛</button>
           </a>
       </div>
   </div>
   <div class="uk-width-medium-5-10">
       <div id="myCarousel" class="carousel slide" data-ride="carousel">
           <ol class="carousel-indicators">
               <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
               <li data-target="#myCarousel" data-slide-to="1"></li>
               <li data-target="#myCarousel" data-slide-to="2"></li>
               <li data-target="#myCarousel" data-slide-to="3"></li>
               <li data-target="#myCarousel" data-slide-to="4"></li>
               <li data-target="#myCarousel" data-slide-to="5"></li>
               <li data-target="#myCarousel" data-slide-to="6"></li>
           </ol>
           <div class="carousel-inner">
               <div style="background-image:url({{sinacars1.img_url}});"  class="item active banner">
                   <a target="_blank" href="{{sinacars1.url}}"></a>
                   <div class="carousel-caption">{{sinacars1.title}}</div>
               </div>
               {% for sinacar in sinacars %}
               <div style="background-image:url({{sinacar.img_url}});" class="item banner">
                   <a target="_blank" href="{{sinacar.url}}"></a>
                   <div class="carousel-caption">{{sinacar.title}}</div>
               </div>
               {% endfor %}
           </div>
           <a class="carousel-control left" href="#myCarousel"
              data-slide="prev"><span _ngcontent-c3="" aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span></a>
           <a class="carousel-control right" href="#myCarousel"
              data-slide="next"><span _ngcontent-c3="" aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span></a>
       </div>
       <div style="margin-top:20px">
           <ul class="nav nav-tabs nav-justified">
               <li id="hot" class="active"><a id="hota" class="midtab"  href="javascript:void(0)" onclick="shiftnews('hot')"><span>热门</span></a></li>
               <li id="nba"><a id="nbaa" class="midtab" href="javascript:void(0)" onclick="shiftnews('nba')"><span>NBA</span></a></li>
               <li id="intsoc"><a id="intsoca" class="midtab" href="javascript:void(0)" onclick="shiftnews('intsoc')"><span>国际足球</span></a></li>
               <li id="chisoc"><a id="chisoca" class="midtab" href="javascript:void(0)" onclick="shiftnews('chisoc')"><span>中国足球</span></a></li>
               <li id="cba"><a id="cbaa" class="midtab" href="javascript:void(0)" onclick="shiftnews('cba')"><span>中国篮球</span></a></li>
               <li id="sum"><a id="suma" class="midtab" href="javascript:void(0)" onclick="shiftnews('sum')"><span>综合体育</span></a></li>
           </ul>
       </div>
       <div>
           <div id="mainnews">
               {% for hotmatchnews in hotmatchnewss %}
               <div>
                   <h3 class="hotmattitlesum">
                       <a target="_blank" href="{{hotmatchnews.title1url}}" class="hotmatchnewstitle">{{hotmatchnews.title1}}</a>
                       <a target="_blank" href="{{hotmatchnews.title2url}}" class="hotmatchnewstitle">{{hotmatchnews.title2}}</a>
                       <a target="_blank" href="{{hotmatchnews.title3url}}" class="hotmatchnewstitle">{{hotmatchnews.title3}}</a>
                   </h3>
                   <div style="width:560px;height:100px">
                       <div style="float:left;width:120px;height:100px">
                           <div>
                               <a target="_blank" href="{{hotmatchnews.imgurl}}">
                                   <img src="{{hotmatchnews.imgsrcurl}}">
                               </a>
                           </div>
                       </div>
                       <ul style="float:left;width:440px;height:100px" >
                           {% if hotmatchnews.line1 or hotmatchnews.line2 or hotmatchnews.line3 %}
                           <li class="hotmatchnewsli">
                               <a target="_blank" href="{{hotmatchnews.line1url}}" class="hotmatchnewsline">{{hotmatchnews.line1}}</a>
                               <a target="_blank" href="{{hotmatchnews.line2url}}" class="hotmatchnewsline">{{hotmatchnews.line2}}</a>
                               <a target="_blank" href="{{hotmatchnews.line3url}}" class="hotmatchnewsline">{{hotmatchnews.line3}}</a>
                           </li>
                           {% endif %}
                           {% if hotmatchnews.line4 or hotmatchnews.line5 or hotmatchnews.line6 %}
                           <li class="hotmatchnewsli" style="margin-top:10px">
                               <a target="_blank" href="{{hotmatchnews.line4url}}" class="hotmatchnewsline">{{hotmatchnews.line4}}</a>
                               <a target="_blank" href="{{hotmatchnews.line5url}}" class="hotmatchnewsline">{{hotmatchnews.line5}}</a>
                               <a target="_blank" href="{{hotmatchnews.line6url}}" class="hotmatchnewsline">{{hotmatchnews.line6}}</a>
                           </li>
                           {% endif %}
                           {% if hotmatchnews.line7 or hotmatchnews.line8 or hotmatchnews.line9 %}
                           <li class="hotmatchnewsli" style="margin-top:10px">
                               <a target="_blank" href="{{hotmatchnews.line7url}}" class="hotmatchnewsline">{{hotmatchnews.line7}}</a>
                               <a target="_blank" href="{{hotmatchnews.line8url}}" class="hotmatchnewsline">{{hotmatchnews.line8}}</a>
                               <a target="_blank" href="{{hotmatchnews.line9url}}" class="hotmatchnewsline">{{hotmatchnews.line9}}</a>
                           </li>
                           {% endif %}
                       </ul>
                   </div>

               </div>
               {% endfor %}
           </div>
       </div>
    </div>
    <div class="uk-width-medium-3-10">

    </div>

{% endblock %}