<!DOCTYPE html>
<!--
{% macro pagination(url, page) %}
    <ul class="uk-pagination">
        {% if page.has_previous %}
            <li><a href="{{ url }}{{ page.page_index - 1 }}"><i class="uk-icon-angle-double-left"></i></a></li>
        {% else %}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
        {% endif %}
            <li class="uk-active"><span>{{ page.page_index }}</span></li>
        {% if page.has_next %}
            <li><a href="{{ url }}{{ page.page_index + 1 }}"><i class="uk-icon-angle-double-right"></i></a></li>
        {% else %}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-right"></i></span></li>
        {% endif %}
    </ul>
{% endmacro %}
-->
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>淘宝数据图表 - Stefan Club</title>
    <link rel="stylesheet" href="/static/css/uikit.min.css">
    <link rel="stylesheet" href="/static/css/uikit.gradient.min.css">
    <link rel="stylesheet" href="/static/css/awesome.css" />
    <!--<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->
    <!--<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>-->
   <!-- <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <link rel="stylesheet" href="/static/css/bootstrap3.3.7.min.css" />
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap3.3.7.min.js"></script>
    <script src="/static/js/sha1.min.js"></script>
    <script src="/static/js/uikit.min.js"></script>
    <script src="/static/js/sticky.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/awesome.js"></script>
    <script src="/static/js/jqthumb.js"></script>
    <script src="/static/js/stefanclub.js"></script>
    <script src="/static/js/highcharts.js"></script>
    <style>
        .chartdiv
        {
           float:left;
           width:800px;
           height:400px;
        }
    </style>
    <script>
      $(function() {
	  // 全局配置，针对页面上所有图表有效
	    Highcharts.setOptions({
		  chart: {
		    	backgroundColor: {
				  linearGradient: [0, 0, 500, 500],
			   	  stops: [
				  	 [0, 'rgb(255, 255, 255)'],
					 [1, 'rgb(240, 240, 255)']
				  ]
			    },
			borderWidth: 2,
			plotBackgroundColor: 'rgba(255, 255, 255, .9)',
			plotShadow: true,
			plotBorderWidth: 1
		 }
	    });
	    var chart4main = {
		    chart: {
				plotBackgroundColor: null,
				plotBorderWidth: null,
				plotShadow: false
		    },
		    title: {
				text: '各地区淘宝店销量分布'
		    },
		    tooltip: {
				headerFormat: '{series.name}<br>',
				pointFormat: '{point.name}: <b>{point.percentage:.1f}%</b>'
		    },
		    plotOptions: {
				pie: {
						allowPointSelect: true,
						cursor: 'pointer',
						dataLabels: {
								enabled: true,
								format: '<b>{point.name}</b>: {point.percentage:.1f} %',
								style: {
										color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
								}
						},
						states: {
								hover: {
										enabled: false
								}
						},
						slicedOffset: 20,         // 突出间距
						point: {                  // 每个扇区是数据点对象，所以事件应该写在 point 下面
								events: {
										// 鼠标滑过是，突出当前扇区
										mouseOver: function() {
												this.slice();
										},
										// 鼠标移出时，收回突出显示
										mouseOut: function() {
												this.slice();
										},
										// 默认是点击突出，这里屏蔽掉
										click: function() {
												return false;
										}
								}
						}
				    }
		    },
		    series: {{chart4|tojson}}
        }
        var chart1 =  new Highcharts.Chart({{chart1|tojson}});
        var chart2 =  new Highcharts.Chart({{chart2|tojson}});
        var chart3 =  new Highcharts.Chart({{chart3|tojson}});
        var chart4 = Highcharts.chart('container4',chart4main);
        var chart5 =  new Highcharts.Chart({{chart5|tojson}});
        $('#container6').highcharts({
		     chart: {type: 'area'},
		     title: {text: '描述/服务/快递评分分布'},
		     xAxis: {categories: ['4.95以上', '4.9以上', '4.8以上', '4.7以上', '4.7以下']},
		     yAxis: {title: {text: '店铺(家数)'}},
		     tooltip: {
			    pointFormat: '{series.name} 有 <b>{point.y:,.0f}</b>家'
		     },
		     plotOptions: {
			    area: {
				   fillOpacity: 0.3, // 指定所有面积图的透明度
				   marker: {
					   enabled: false,
					   symbol: 'circle',
					   radius: 2,
					   states: {hover: {enabled: true}}
				   }
			    }
		     },
		     series: {{chart6|tojson}}
	    });
    });

</script>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index">首页</a>
        </div>
        <div>

               <ul class="nav navbar-nav navbar-collapse collapse navbar-left">
                  <li><a href="/sports">体育</a></li>
                  <li><a href="/taobao">淘宝</a></li>
                  <li><a href="/zhihu">知乎</a></li>
                  <li><a href="/blogs">博客</a></li>
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                       数据可视化 <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                         <li><a href="/taobaocharts">淘宝数据图表</a></li>
                         <li><a href="#">C#</a></li>
                         <li><a href="#">Python</a></li>
                         <li class="divider"></li>
                         <li><a href="#">前端</a></li>
                         <li class="divider"></li>
                         <li><a href="#">移动开发</a></li>
                      </ul>
                  </li>
               </ul>

                <ul class="nav navbar-nav navbar-right">
                        {% if __user__ %}
                            <li class="uk-parent" data-uk-dropdown>
                            <a href="#0"><i class="uk-icon-user"></i> {{ __user__.name }}</a>
                            <div class="uk-dropdown uk-dropdown-navbar">
                                <ul class="uk-nav uk-nav-navbar">
                                    <li><a href="/signout"><i class="uk-icon-sign-out"></i> 登出</a></li>
                                </ul>
                            </div>
                            </li>
                         {% else %}
                             <li><a href="/signin"><i class="uk-icon-sign-in"></i> 登陆</a></li>
                             <li><a href="/register"><i class="uk-icon-edit"></i> 注册</a></li>
                         {% endif %}
                </ul>
                <form class="navbar-form navbar-right">
                    <a href="#" class="btn" style="border:none;opacity:0.7;color:black;">
                       <span class="glyphicon glyphicon-edit"></span> 写博客
                    </a>
                </form>
                <form class="navbar-form navbar-right" role="search">
                    <div class="input-group">
                       <input type="text" class="form-control" placeholder="Search What You Want">
                       <span class="input-group-btn">
                           <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                       </span>
                    </div>
                </form>

        </div>
    </div>
</nav>
    <div style="width:2800px,margin: 0 auto;">
        <div style="width:1800px;height:1300px;">
            <div id="container1" class="chartdiv" style="margin-left:120px;"></div>
            <div id="container2" class="chartdiv" style="margin-left:40px;"></div>
            <div id="container3" class="chartdiv" style="margin-left:120px;margin-top:40px;"></div>
            <div id="container4" class="chartdiv" style="margin-left:40px;margin-top:40px;"></div>
            <div id="container5" class="chartdiv" style="margin-left:120px;margin-top:40px;"></div>
            <div id="container6" class="chartdiv" style="margin-left:40px;margin-top:40px;"></div>
        </div>
    </div>
    <div class="uk-margin-large-top" style="background-color:#eee; border-top:1px solid #ccc;">
        <div class="uk-container uk-container-center uk-text-center">
            <div class="uk-panel uk-margin-top uk-margin-bottom">
                <p>
                    <a target="_blank" href="https://weibo.com/u/3789096637" class="uk-icon-button uk-icon-weibo"></a>
                    <a target="_blank" href="https://github.com/stephenzhou2018" class="uk-icon-button uk-icon-github"></a>
                    <a target="_blank" href="https://www.linkedin.com/in/%E5%A3%B0%E6%B3%A2-%E5%91%A8-75739a169" class="uk-icon-button uk-icon-linkedin-square"></a>
                    <a target="_blank" href="https://twitter.com/StephenZhou91" class="uk-icon-button uk-icon-twitter"></a>
                </p>
                <p>Powered by <a href="http://stephenzhou.club">Stephen Zhou</a>. Copyright &copy; 2018. [<a href="/manage/" target="_blank">Manage</a>]</p>
                <p><a href="http://stephenzhou.club" target="_blank">stephenzhou.club</a>. All rights reserved.</p>
            </div>

        </div>
    </div>
</body>
</html>