{% extends '__base__.html' %}

{% block title %}淘宝{% endblock %}

{% block beforehead %}
<style type="text/css" xmlns:backgroudimg="http://www.w3.org/1999/xhtml">
.inp:focus {
outline:none;
    border: 2px solid OrangeRed;
}
.chooseitem {
  color:black;
  opacity:0.7;
  float:left;
}
.chooseitema {
  color:black;
  margin-left:30px;
}
.chooseitemdiv {
 margin-top:10px;
 height:20px;
}
.orderbya {
  color:black;
  opacity:0.7;
}
.chooseprice {
  float:left;
  margin-left:5px;
}
.priceinput {
  width:120px;
  height:30px;
}
.productdiv {
  float:left;
  width:255.5px;
  height:430px;
  margin-left:7.5px;
  margin-top:15px;
  border:solid;
  border-width: 1px;
  border-color:LightSteelBlue;
}
.samesimia {
  color:white;
}
.samesimia:hover{
   color:white;
}
.samesimidiv {
  position:absolute;
  width:255.5px;
  height:35px;
  z-index:2;
  left:0px;
  right:0px;
  top:0;
  bottom:0px;
  margin:auto;
  margin-bottom: 0px;
  background-color:OrangeRed;
}
.profirstrow {
  float:left;
  margin-left:5px;
}
.protitlea {
  color:black;
}
.protitlea:hover{
   color:OrangeRed;
}
.shopinfo{position:relative;float:left;}
.shopimg{float:left;margin-left:5px;}
.shopname{float:left;margin-left:5px;}
.shopcard{display:none;width:300px;height:175px;position:absolute;top:20px;left:20px;cursor:default;border:solid 1px #D0D0D0;opacity:1;z-index:2000;background-color:white;}
.shopinfo:hover .shopcard{display:block;}
.shopicon {
  width:20px;
  height:20px;
}
.kindfirsticon {
  margin-top:5px;
  margin-left:5px;
  float:left;
}
.kindresticons {
  margin-top:5px;
  margin-left:1px;
  float:left;
}
.shopscorediv {
  margin-left:5px;
  margin-top:10px;
}
.shophighertext {
  margin-left:5px;
  background-color:OrangeRed;
  color:white;
}
.shophigherdiff {
  margin-left:5px;
  color:OrangeRed;
}
.shoplowertext {
  margin-left:5px;
  background-color:#00CCCC;
  color:white;
}
.shoplowerdiff {
  margin-left:5px;
  color:#00CCCC;
}
.shopequaltext {
  margin-left:5px;
  background-color:#FFFF00;
  color:white;
}
.shopequaldiff {
  margin-left:5px;
  color:#FFFF00;
}
.iconsize {
  width:25px;
  height:25px;
}
.biggericonsize {
  width:35px;
  height:35px;
}
.subicontext {
  margin-top:10px;
  margin-left:5px;
  color:black;
  opacity:0.7;
}
.subiconcontent {
  margin-left:5px;
  float:left;
}
.icondiv{position:relative;float:left;}
.subicondiv{display:none;width:255.5px;height:auto;position:absolute;top:20px;left:20px;cursor:default;border:solid 1px #D0D0D0;opacity:1;z-index:2000;background-color:white;}
.icondiv:hover .subicondiv{display:block;}
</style>
<script>
window.onload = function()
{
  $("#alla").css('background-color','OrangeRed');
  $("#alla").css('color','#fff');
  $("#alla").css('font-weight','bold');
  $("#tmalla").css('color','black');
  $("#salesqtya").css('color','OrangeRed');
  $(".samesimidiv").hide();
  var shift_type = {{shift_type}}.id;
  if (shift_type == 'all')
  {
     $("#tmall").removeAttr("class");
     $("#tmalla").css("color","black");
     $("#tmalla").css("background-color","");
     $("#tmalla").css("font-weight","");
     $("#all").attr("class","active");
     $("#alla").css("color","#fff");
     $("#alla").css("background-color","OrangeRed");
     $("#alla").css("font-weight","bold");
  }
  else
  {
     $("#all").removeAttr("class");
     $("#alla").css("color","black");
     $("#alla").css("background-color","");
     $("#alla").css("font-weight","");
     $("#tmall").attr("class","active");
     $("#tmalla").css("color","#fff");
     $("#tmalla").css("background-color","OrangeRed");
     $("#tmalla").css("font-weight","bold");
  }
  var keyword = '{{keyword}}';
  $("#keywordspan").html(keyword);
}

$(document).ready(function(){
  $(".choosetab").hover(function(){
    $(this).css("color","#fff");
    $(this).css("background-color","OrangeRed");
    $(this).css("font-weight","bold");
    },function(){
    var thisliid = this.id;
    thisliid = thisliid.substring(0,thisliid.length-1);
    if ($("#" + thisliid + "").attr('class') != 'active')
    {
       $(this).css("color","black");
       $(this).css("background-color","");
       $(this).css("font-weight","");
    }
  });
  $(".orderbya").hover(function(){
    $(this).css("color","OrangeRed");
    },function(){
    var thisliid = this.id;
    thisliid = thisliid.substring(0,thisliid.length-1);
    if ($("#" + thisliid + "").attr('class') != 'active')
    {
       $(this).css("color","black");
    }
  });
  $(".productimgdiv").hover(function(){
    var imgdivid = this.id;
    var id = imgdivid.substring(0,imgdivid.length-6);
    var imgsubdivid = id + 'imgsubdiv';
    $("#" + imgsubdivid + "").show();
    $("#" + imgsubdivid + "").css("opacity",0.7);
    },function(){
    var imgdivid = this.id;
    var id = imgdivid.substring(0,imgdivid.length-6);
    var imgsubdivid = id + 'imgsubdiv';
    $("#" + imgsubdivid + "").hide();
  });
  $(".shopnamea").hover(function(){
    $(this).css("color","OrangeRed");
    },function(){
    $(this).css("color","black");
  });
  $(".productdiv").hover(function(){
    $(this).css("border-color","OrangeRed");
    },function(){
    $(this).css("border-color","LightSteelBlue");
  });
  $(window).on('keypress', function(e) {
    if (e.keyCode === 13) $('#searchbutton').trigger('click')
   })
});

function shifttmall(type)
{
    return location.assign('/taobao/' + type);
}

</script>


{% endblock %}

{% block content %}

<div>
    <div style="width:1060px;height:60px;">
        <div style="float:left;width:110px;height:60px;">
            <img style="width:100%;height:100%;" src="../static/img/common/taobao.png">
        </div>
        <div style="display:none;" class="keyworddiv"><span id="keywordspan"></span></div>
        <div style="float:right;width:600px;height:60px;">
            <div style="width:100%;height:100%;">
                <input id="searchinput" class="inp" type="text" style="float:left;width:520px;height:40px;margin-top:10px;border:2px solid OrangeRed;" placeholder="请输入shoes/clothes/electronic/UNIQLO/SUPERME/NIKE/ADIDAS/APPLE/HUAWEI搜索...">
                <button id="searchbutton" onclick="search()" style="float:left;width:80px;height:40px;margin-top:10px;background-color:OrangeRed;color:white;font-size:120%;font-weight:bold;border:none;">搜 索</button>
            </div>
        </div>
    </div>
    <div style="width:1060px;margin-top:40px;">
        <ul id="myTab" class="nav nav-tabs">
            <li id="all" class="active">
                <a id="alla" class="choosetab" onclick="shifttmall('all')">所有宝贝</a>
            </li>
            <li id="tmall">
                <a id="tmalla" class="choosetab" onclick="shifttmall('tmall')">天猫</a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="allpro">
                <div style="width:1060px;margin-top:10px;">
                    <div style="height:30px;">
                        <div style="float:left;opacity:0.7;">所有分类></div>
                        <div style="float:right;">
                            <a style="text-decoration:none;color:black;opacity:0.7;">
                                收起筛选 <span class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </div>
                    </div>
                    <div style="margin-top:10px;" id="filterdiv">
                        <div class="chooseitemdiv">
                            <div class="chooseitem">品牌:</div>
                            <div>
                                <a class="chooseitema" style="text-decoration:none;">华为</a>
                                <a class="chooseitema" style="text-decoration:none;">苹果</a>
                            </div>
                        </div>
                        <div class="chooseitemdiv">
                            <div class="chooseitem">网络类型:</div>
                            <div>
                                <a class="chooseitema" style="text-decoration:none;">全网通</a>
                                <a class="chooseitema" style="text-decoration:none;">联通</a>
                                <a class="chooseitema" style="text-decoration:none;">移动</a>
                                <a class="chooseitema" style="text-decoration:none;">中国电信</a>
                            </div>
                        </div>
                        <div class="chooseitemdiv">
                            <div class="chooseitem">最想要的功能:</div>
                            <div>
                                <a class="chooseitema" style="text-decoration:none;">双卡双待</a>
                                <a class="chooseitema" style="text-decoration:none;">人脸识别</a>
                                <a class="chooseitema" style="text-decoration:none;">全面屏</a>
                                <a class="chooseitema" style="text-decoration:none;">无锁</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="margin-top:20px;">
                    <div>
                        <ul class="nav nav-tabs">
                            <li id="salesqty" class="active"><a id="salesqtya" class="orderbya" href="#">销量</a></li>
                            <li id="shopscore"><a id="shopscorea" class="orderbya" href="#">综合店铺评分</a></li>
                            <li id="price"><a id="pricea" class="orderbya" href="#">价格</a></li>
                        </ul>
                    </div>
                    <div style="margin-top:20px;height:30px;">
                        <div style="float:left;">
                            <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox1" value="option1"> 包邮
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox2" value="option2"> 公益宝贝
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox3" value="option3"> 天猫
                            </label>
                        </div>
                        <div style="float:right;">
                            <div class="chooseprice">
                                <input type="text" class="priceinput" placeholder="最低价格">
                            </div>
                            <div class="chooseprice" style="margin-top:5px;">---</div>
                            <div class="chooseprice">
                                <input type="text" class="priceinput" placeholder="最高价格">
                            </div>
                            <div class="chooseprice">
                                <button style="background-color:OrangeRed;border:none;color:white;height:30px;width:50px;">确定</button>
                            </div>
                            <div class="chooseprice" style="margin-top:5px;">
                                发货地区:
                            </div>
                            <div style="float:right;margin-left:10px;">
                                <select style="width:60px;height:30px;">
                                    <option>上海</option>
                                    <option>北京</option>
                                    <option>广州</option>
                                    <option>浙江</option>
                                    <option>金华</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="width:1060px;margin-top:20px;height:auto;" id="productlistdiv">
                    {% for product in products %}
                    <div class="productdiv">
                        <div  id ="{{product.id}}imgdiv" class="productimgdiv" style="width:255.5px;height:255.5px;position:relative;">
                            <a target="_blank" href="{{product.imgurl}}">
                                <img style="width:255.5px;height:255.5px;" src="{{product.imgsrcurl}}">
                                <div class="samesimidiv" id="{{product.id}}imgsubdiv">
                                    <div style="margin-top:7.5px;float:left;margin-left:50px;">
                                        {% if product.samestyleurl %}
                                        <a target="_blank" href="{{product.samestyleurl}}" class="samesimia" style="text-decoration:none;">找同款</a>
                                        {% else %}
                                        <a target="_blank" href="{{product.samestyleurl}}" class="samesimia" style="text-decoration:none;pointer-events:none;opacity:0.7;" >找同款</a>
                                        {% endif %}
                                    </div>
                                    <div style="margin-top:7.5px;float:left;margin-left:65px;">
                                        {% if product.similarurl %}
                                        <a target="_blank" href="{{product.similarurl}}" class="samesimia" style="text-decoration:none;">找相似</a>
                                        {% else %}
                                        <a target="_blank" href="{{product.similarurl}}" class="samesimia" style="text-decoration:none;pointer-events:none;opacity:0.7;">找相似</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div style="margin-top:15px;">
                            <div style="height:20px;">
                                <div class="profirstrow">
                                    <span style="color:OrangeRed;font-weight:bold;font-size:120%;">￥{{product.product_price}}</span>
                                </div>
                                {% if '包邮' in product.title %}
                                <div class="profirstrow">
                                    <img style="width:35px;height:20px;" src="../static/img/common/deliveryfree.png">
                                </div>
                                {% endif %}
                                {% if product.payednum %}
                                <div style="float:right;margin-right:5px;">
                                    <span style="color:black;opacity:0.7;">{{product.payednum}}</span>
                                </div>
                                {% endif %}
                            </div>
                            <div style="margin-top:10px;margin-left:5px;">
                                {% if product.titlehaskey == 'FALSE' %}
                                <a class="protitlea" target="_blank" href="{{product.titleurl}}">{{product.title}}</a>
                                {% else %}
                                <a class="protitlea" target="_blank" href="{{product.titleurl}}"><span>{{product.title1}}</span><span style="color:OrangeRed;">{{product.keyword}}</span><span>{{product.title2}}</span></a>
                                {% endif %}
                            </div>
                            <div style="margin-top:10px;height:30px;">
                                <div class="shopinfo">
                                    <div class="shopimgname">
                                        <div class="shopimg">
                                            <img style="width:17.5px;height:17.5px;" src="../static/img/common/shopicon.png">
                                        </div>
                                        <div class="shopname">
                                            <a target="_blank" class="shopnamea" style="color:black;opacity:0.7;" href="{{product.shopurl}}">{{product.shopname}}</a>
                                        </div>
                                    </div>
                                    <div class="shopcard">
                                        {% if product.istmall == '1' %}
                                        <div style="margin-top:5px;margin-left:5px;height:20px;">
                                            <img style="width:80px;height:20px;" src="../static/img/common/tmall.png">
                                        </div>
                                        {% endif %}
                                        <div style="height:20px;">
                                            {% if product.shopleveljingguanqty > 0 %}
                                            <div class="kindfirsticon">
                                                <img class="shopicon" src="../static/img/common/jinguan.png">
                                            </div>
                                            {% for i in range(product.shopleveljingguanqty - 1) %}
                                            <div class="kindresticons">
                                                <img class="shopicon" src="../static/img/common/jinguan.png">
                                            </div>
                                            {% endfor %}
                                            {% endif %}
                                            {% if product.shoplevelguanqty > 0 %}
                                            <div class="kindfirsticon">
                                                <img class="shopicon" src="../static/img/common/guan.png">
                                            </div>
                                            {% for i in range(product.shoplevelguanqty - 1) %}
                                            <div class="kindresticons">
                                                <img class="shopicon" src="../static/img/common/guan.png">
                                            </div>
                                            {% endfor %}
                                            {% endif %}
                                            {% if product.shoplevelzuanqty > 0 %}
                                            <div class="kindfirsticon">
                                                <img class="shopicon" src="../static/img/common/zuan.png">
                                            </div>
                                            {% for i in range(product.shoplevelzuanqty - 1) %}
                                            <div class="kindresticons">
                                                <img class="shopicon" src="../static/img/common/zuan.png">
                                            </div>
                                            {% endfor %}
                                            {% endif %}
                                            {% if product.shoplevelxinqty > 0 %}
                                            <div class="kindfirsticon">
                                                <img class="shopicon" src="../static/img/common/xin.png">
                                            </div>
                                            {% for i in range(product.shoplevelxinqty - 1) %}
                                            <div class="kindresticons">
                                                <img class="shopicon" src="../static/img/common/xin.png">
                                            </div>
                                            {% endfor %}
                                            {% endif %}
                                            {% if product.shoptotalrate %}
                                            <div class="kindresticons" style="margin-left:10px;">
                                                <span style="color:black;font-size:90%;">好评率：{{product.shoptotalrate}}</span>
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div style="margin-top:10px;opacity:0.7;height:10px;">---------------------------------------------------------------</div>
                                        <div style="margin-top:20px;">
                                            <div style="margin-left:5px;">
                                                <span>如实描述：{{product.shopdescscore}}</span>
                                                {% if product.shopdesccompare == 'higher' %}
                                                <span class="shophighertext">比同行均值高</span>
                                                <span class="shophigherdiff">{{product.shopdescscorediff}}</span>
                                                {% elif product.shopdesccompare == 'lower' %}
                                                <span class="shoplowertext">比同行均值低</span>
                                                <span class="shoplowerdiff">{{product.shopdescscorediff}}</span>
                                                {% elif product.shopdesccompare == 'equal' %}
                                                <span class="shopequaltext">与同行均值相等</span>
                                                <span class="shopequaldiff">{{product.shopdescscorediff}}</span>
                                                {% endif %}
                                            </div>
                                            <div class="shopscorediv">
                                                <span>服务态度：{{product.shopservicescore}}</span>
                                                {% if product.shopservicecompare == 'higher' %}
                                                <span class="shophighertext">比同行均值高</span>
                                                <span class="shophigherdiff">{{product.shopservicescorediff}}</span>
                                                {% elif product.shopservicecompare == 'lower' %}
                                                <span class="shoplowertext">比同行均值低</span>
                                                <span class="shoplowerdiff">{{product.shopservicescorediff}}</span>
                                                {% elif product.shopservicecompare == 'equal' %}
                                                <span class="shopequaltext">与同行均值相等</span>
                                                <span class="shopequaldiff">{{product.shopservicescorediff}}</span>
                                                {% endif %}
                                            </div>
                                            <div class="shopscorediv">
                                                <span>物流服务：{{product.shopdeliveryscore}}</span>
                                                {% if product.shopdeliverycompare == 'higher' %}
                                                <span class="shophighertext">比同行均值高</span>
                                                <span class="shophigherdiff">{{product.shopdeliveryscorediff}}</span>
                                                {% elif product.shopdeliverycompare == 'lower' %}
                                                <span class="shoplowertext">比同行均值低</span>
                                                <span class="shoplowerdiff">{{product.shopdeliveryscorediff}}</span>
                                                {% elif product.shopdeliverycompare == 'equal' %}
                                                <span class="shopequaltext">与同行均值相等</span>
                                                <span class="shopequaldiff">{{product.shopdeliveryscorediff}}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="float:right;margin-right:10px;">
                                    <span style="color:black;opacity:0.7;">{{product.shopaddress}}</span>
                                </div>
                            </div>
                            <div style="margin-top:10px;">
                                <div style="margin-left:5px;float:left;">
                                    {% if product.iconkey1 %}
                                    <div class="icondiv">
                                        <div>
                                            {% if product.iconurl1 %}
                                            <a target="_blank" href="{{product.iconurl1}}">
                                            {% else %}
                                            <a style="pointer-events:none;" target="_blank" href="{{product.iconurl1}}">
                                            {% endif %}
                                                <img class="iconsize" src="../static/img/common/{{product.iconkey1}}.png">
                                            </a>
                                        </div>
                                        <div class="subicondiv">
                                            {% if product.subiconclass1 %}
                                            {% if product.subicontitle1 %}
                                            <div style="margin-left:5px;margin-top:10px;">
                                                <div><span class="subicontext">{{product.subicontitle1}}</span></div>
                                                <div style="margin-top:10px;margin-left:5px;">
                                                    <div class="subiconcontent"><img class="iconsize" src="../static/img/common/{{product.subiconclass1}}.png"></div>
                                                    <div class="subiconcontent"><span class="subicontext">{{product.subiconcontent1}}</span></div>
                                                </div>
                                            </div>
                                            {% else %}
                                            <div  style="margin-left:5px;margin-top:10px;">
                                                <div><img class="biggericonsize" src="../static/img/common/{{product.subiconclass1}}.png"></div>
                                                <div><span class="subicontext">{{product.icontitle1}}</span></div>
                                            </div>
                                            {% endif %}
                                            {% else %}
                                            <span class="subicontext">{{product.icontitle1}}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if product.iconkey2 %}
                                    <div class="icondiv">
                                        <div>
                                            {% if product.iconurl2 %}
                                            <a target="_blank" href="{{product.iconurl2}}">
                                            {% else %}
                                            <a style="pointer-events:none;" target="_blank" href="{{product.iconurl2}}">
                                            {% endif %}
                                                <img class="iconsize" src="../static/img/common/{{product.iconkey2}}.png">
                                            </a>
                                        </div>
                                        <div class="subicondiv">
                                            {% if product.subiconclass2 %}
                                            {% if product.subicontitle2 %}
                                            <div style="margin-left:5px;margin-top:10px;">
                                                <div><span class="subicontext">{{product.subicontitle2}}</span></div>
                                                <div style="margin-top:10px;margin-left:5px;">
                                                    <div class="subiconcontent"><img class="iconsize" src="../static/img/common/{{product.subiconclass2}}.png"></div>
                                                    <div class="subiconcontent"><span class="subicontext">{{product.subiconcontent2}}</span></div>
                                                </div>
                                            </div>
                                            {% else %}
                                            <div  style="margin-left:5px;margin-top:10px;">
                                                <div><img class="biggericonsize" src="../static/img/common/{{product.subiconclass2}}.png"></div>
                                                <div><span class="subicontext">{{product.icontitle2}}</span></div>
                                            </div>
                                            {% endif %}
                                            {% else %}
                                            <span class="subicontext">{{product.icontitle2}}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if product.iconkey3 %}
                                    <div class="icondiv">
                                        <div>
                                            {% if product.iconurl3 %}
                                            <a target="_blank" href="{{product.iconurl3}}">
                                            {% else %}
                                            <a style="pointer-events:none;" target="_blank" href="{{product.iconurl3}}">
                                            {% endif %}
                                                <img class="iconsize" src="../static/img/common/{{product.iconkey3}}.png">
                                            </a>
                                        </div>
                                        <div class="subicondiv">
                                            {% if product.subiconclass3 %}
                                            {% if product.subicontitle3 %}
                                            <div style="margin-left:5px;margin-top:10px;">
                                                <div><span class="subicontext">{{product.subicontitle3}}</span></div>
                                                <div style="margin-top:10px;margin-left:5px;">
                                                    <div class="subiconcontent"><img class="iconsize" src="../static/img/common/{{product.subiconclass3}}.png"></div>
                                                    <div class="subiconcontent"><span class="subicontext">{{product.subiconcontent3}}</span></div>
                                                </div>
                                            </div>
                                            {% else %}
                                            <div  style="margin-left:5px;margin-top:10px;">
                                                <div><img class="biggericonsize" src="../static/img/common/{{product.subiconclass3}}.png"></div>
                                                <div><span class="subicontext">{{product.icontitle3}}</span></div>
                                            </div>
                                            {% endif %}
                                            {% else %}
                                            <span class="subicontext">{{product.icontitle3}}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if product.iconkey4%}
                                    <div class="icondiv">
                                        <div>
                                            {% if product.iconurl4 %}
                                            <a target="_blank" href="{{product.iconurl4}}">
                                            {% else %}
                                            <a style="pointer-events:none;" target="_blank" href="{{product.iconurl4}}">
                                            {% endif %}
                                                <img class="iconsize" src="../static/img/common/{{product.iconkey4}}.png">
                                            </a>
                                        </div>
                                        <div class="subicondiv">
                                            {% if product.subiconclass4 %}
                                            {% if product.subicontitle4 %}
                                            <div style="margin-left:5px;margin-top:10px;">
                                                <div><span class="subicontext">{{product.subicontitle4}}</span></div>
                                                <div style="margin-top:10px;margin-left:5px;">
                                                    <div class="subiconcontent"><img class="iconsize" src="../static/img/common/{{product.subiconclass4}}.png"></div>
                                                    <div class="subiconcontent"><span class="subicontext">{{product.subiconcontent4}}</span></div>
                                                </div>
                                            </div>
                                            {% else %}
                                            <div  style="margin-left:5px;margin-top:10px;">
                                                <div><img class="biggericonsize" src="../static/img/common/{{product.subiconclass4}}.png"></div>
                                                <div><span class="subicontext">{{product.icontitle4}}</span></div>
                                            </div>
                                            {% endif %}
                                            {% else %}
                                            <span class="subicontext">{{product.icontitle4}}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if product.iconkey5 %}
                                    <div class="icondiv">
                                        <div>
                                            {% if product.iconurl5 %}
                                            <a target="_blank" href="{{product.iconurl5}}">
                                            {% else %}
                                            <a style="pointer-events:none;" target="_blank" href="{{product.iconurl5}}">
                                            {% endif %}
                                                <img class="iconsize" src="../static/img/common/{{product.iconkey5}}.png">
                                            </a>
                                        </div>
                                        <div class="subicondiv">
                                            {% if product.subiconclass5 %}
                                            {% if product.subicontitle5 %}
                                            <div style="margin-left:5px;margin-top:10px;">
                                                <div><span class="subicontext">{{product.subicontitle5}}</span></div>
                                                <div style="margin-top:10px;margin-left:5px;">
                                                    <div class="subiconcontent"><img class="iconsize" src="../static/img/common/{{product.subiconclass5}}.png"></div>
                                                    <div class="subiconcontent"><span class="subicontext">{{product.subiconcontent5}}</span></div>
                                                </div>
                                            </div>
                                            {% else %}
                                            <div  style="margin-left:5px;margin-top:10px;">
                                                <div><img class="biggericonsize" src="../static/img/common/{{product.subiconclass5}}.png"></div>
                                                <div><span class="subicontext">{{product.icontitle5}}</span></div>
                                            </div>
                                            {% endif %}
                                            {% else %}
                                            <span class="subicontext">{{product.icontitle5}}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                                <div style="margin-right:5px;float:right;">
                                    <a><img class="iconsize" src="../static/img/common/wangwang.png"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}